* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  background: #fff;
  min-height: 100%;
  font-size: 16px;
  width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}